<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t('staticpage.h3_title') %></h3>
      <%=  %>
    </div>
  </div>

<% else %>

<div class="center jumbotron">
   <h1><%= t('staticpage.h1_title') %></h1>
   <h2>
    <%= t('staticpage.h2_body') %>
   </h2>
    <%= link_to t('user.h1_signup'), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
