<div id="activity">
  <h2><%= t('activity.activity') %></h2>
  <%= will_paginate @lessons %>
  <ul>
    <% @lessons.each do |lesson| %>
      <li>
        <% if lesson.progress != 0 %>
          <i class="icon-arrow-right"></i>
          <%=t('lesson.learn_status') %> <b><%= pluralize(lesson.progress, "word") %></b> from <b>
            <%= lesson.category.name %></b> on <b><%= lesson.updated_at.strftime "%h %d, %Y"%></b>
          </li>
        <% end %>
    <% end %>
  </ul>
</div>
