<div id="activity">
  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="text-uppercase"><strong><%= t('activity.activity') %></strong></h4></div>
    <div class="panel-body">
      <%= will_paginate @lessons %>
        <ul class="list-group">
          <% @lessons.each do |lesson| %>
          <li class="list-group-item">
            <% if lesson.progress != 0 %>
            <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge"><%= lesson.progress%></span>
              <i class="icon-arrow-right"></i>
              <%=t('lesson.learn_status') %> <b><%= pluralize(lesson.progress, "word") %></b> from <b><%= lesson.category.name %></b> on 
              <b><%= lesson.updated_at.strftime "%h %d, %Y"%></b>
            <% end %>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
