<% provide :title, t('result.showing') %>
<center><h3 class="text-uppercase"><strong><%= t('result.result')%></strong></h3></center>
<br>
<div class="row">
  <div class="span8 offset2">
    <% @lessons.each do |lesson| %>
      <div>
        <label><h3 class="text-capitalize"><%= "#{lesson.category.name}"%>  <%= t('result.result')%></h3></label> <small><%= lesson.results.total_learned_words(lesson.id).count%>/<%= "#{lesson.results.count}"%></small>
        <br><br>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th><%= t('result.correct')%></th>
                <th><%= t('result.original')%></th>
                <th><%= t('result.meaning')%></th>
                <th><%= t('result.answer')%></th>
              </tr>
            </thead>
            <tbody>
              <% lesson.results.each do |result| %>
              <tr>
                <td>
                  <% if result.answer.try(:correct?)%>
                    <i class="glyphicon glyphicon-ok"></i>
                  <% else %>
                    <i class="glyphicon glyphicon-remove"></i>
                  <% end %>
                </td>
                <td><%= result.word.content%></td>
                <td><%= result.word.answers.corrected.content%></td>
                <td><%= result.answer.try(:content)%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>