<% provide :title, t('activity.title1') %>
<div class="row">
  <div class="col-md-8">
    <div class="title">
      <h2><%= @lesson.category.name %></h2>
      <h4 class="count alert alert-info"></h4>
    </div>
    <%= form_for @lesson do |f| %>
      <%= f.fields_for :results do |ff| %>
        <div class="result">
          <h3><%= ff.object.word.content %></h3>
          <%= ff.collection_radio_buttons :answer_id, ff.object.word.answers,
                                          :id, :content do |rb| %>
            <%= rb.label(class: "radio"){rb.radio_button + rb.text} %>
          <% end %>
        </div>
      <% end %>
      <p><%= link_to t("nav.next"), class: "btn btn-primary choose" %></p>
      <p class="alert alert-success alert-submit">If you want to submit your answer now, click here:</p>
      <%= f.submit t("nav.submit_answer"), class: "btn btn-primary submit-answer" %>
    <% end %>
  </div>
</div>
