<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.lessons.any? %>
      <h3><%= t('user.activity_title')%> <%= @user.lessons.count %></h3>
      <ol class="activities">
        <%= render @lessons %>
      </ol>
      <%= will_paginate @lessons %>
    <% end %>
  </div>
</div>
